.h1-top
  %h1
    = @menu.title
.container
  .row
    .col-md-8.col-xs-12
      %br/
      - if current_user == @menu.restaurant.user #this is throwing a nil error
        = link_to 'Edit Menu', edit_menu_path(@menu)
      - if !@menu.dishes.nil?
        Dishes:
        %br/
        - @menu.dishes.each do |dish|
          = link_to dish.name, dish
          %br/
