%h1 Here's the menu page for #{@menu.title}
%br/
- if current_user == @menu.restaurant.user #this is throwing a nil error
  = link_to 'Edit Menu', edit_menu_path(@menu)
- if !@menu.dishes.nil?
  Dishes:
  %br/
  -#- @menu.dishes.each do |dish|
  -#  = link_to dish.dish_name, dish
  -#  %br/
  - @dishes.keys.each do |category|
    %div{id: category.downcase}
      %h1= category
      - @dishes[category].each do |dish|
        %p= dish.dish_name
