.row
  .column-md-12
    %h1 add menu

    = form_for @menu, url: {action: 'create'}, html: {class: 'add_menu'} do |f|
      = f.label :title do
        = f.text_field :title, id: 'title'
      = f.submit 'Create', id: 'create'
