This is the Restaurant index page! Yay!

<br>


<div>Picture</div>
<div>Restaurant Name</div>
<div>Restaurant info</div>
<div>Map</div>
<div>Link to menus</div>
<div>Highlighted dishes</div>
<div>Comment and rate</div>
