.row
  .col-md-12
    .jumbotron
      %h3 This is the Restaurant index page! Yay!
      - if current_user
        Buy some food, #{current_user.name}
    %div Picture
    %div Restaurant Name
    %div Restaurant info
    %div Map
    %div
      = link_to 'Link to menus', menus_path
    %div Highlighted dishes
    %div Comment and rate
