.question-row
  .question-container
    %h2 What do you feel like tonight?
    = render partial: 'category_drop'
#map{data: {test: {env: "#{Rails.env.test?}"}}}
%section#story.description_content
  .container
    .col-md-6
      %h1 About us
      %p.desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-6
      %h1 Popular restaurants
      - @restaurants.each do | restaurant |
        %ul
          %li
            = link_to restaurant.name, restaurant_path(restaurant.id)
%section#info.description_content
  .info.background_content
    %h1
      %span Quick
      deliveries