.row
  .col-md-12
    .jumbotron
      %h2 "What do you feel like tonight?"
      - if current_user
        Buy some food, #{current_user.name}
    %div Picture placeholder
    %div Restaurant Name placeholder
    %div Restaurant info placeholder
    %div Map placeholder
    %div Placeholder for popular restaurants
    %div Highlighted dishes placeholder
    %div Comment and rate placeholder
    %div Testing Heroku continuous deployment - delete me.
    %div#map
