.checkbox label::before {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0px;
}
.navbar-text {
  padding-right:20px;
}

.navbar {
  border-radius: 0px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px
}
