.checkbox label::before {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
}

.radio input[type='radio'], .radio-inline input[type='radio'], .checkbox input[type='checkbox'], .checkbox-inline input[type='checkbox'] {
  position: absolute;
  margin-left: 0px;
}
.navbar-text {
  padding-right:20px;
}

.navbar {
  border-radius: 0px;
  z-index: 99;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px
}

#map {
  width: 100%;
  min-height: 450px;
  z-index: 2;
}

.landing-container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: -22px 0px 0px 0px;
  z-index: 1;
}

.question-row {
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0px;
}
.question-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 65px 15px 15px 15px;
  background: rgba(255,159,79,0.8);
  width: 50%;
  z-index: 4;
}
.question-container h2 {
  margin-top: 0px;
}

@media (max-width: 600px) {
  .question-container {
    margin-top: 5px;
    width: 100%;
  }
  .question-row {
    z-index: 0;
    top: 0px;
    position: relative;
  }
}

.background_content {
  position: relative;
  top: 0px;
  width: 100%;
  height: 250px;
  background-color: white;
  margin: 0 auto 0 auto;
  z-index: 98;
  text-align: center;
}

.background_content h1 {
  font-size: 3em;
  width: 60%;
  position: relative;
  top: 24%;
  color: white;
  padding: 0;
  border: 0;
  display: inline-block;
}

.background_content h1 span {
  color: white;
  border-bottom: 8px solid #fff;
}

.info.background_content{
  background: url('http://www.annasuss.com/h/restaurant_header.jpg') no-repeat center center;
  background-size: cover;
  background-position: 70% 50%;
}

.description_content {
  padding: 50px 0;
  width: 100%;
  background: #fff;
  margin: 0 auto 0 auto;
  z-index: 99;
  position: relative;
  background: white;
  text-align: center;
}
.description_body {
  margin: 45px auto;
  max-width: 300px;
}

p.desc-text{
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
}
.right-text p{
  text-align: left !important;
  border-bottom: 1px solid;
  padding: 10px 0;
}
#story h1 {
  border-bottom: 3px solid rgba(255,159,79,0.8);
}

/* CSS by GenerateCSS.com */
#story ul {
  list-style-type: none;
  list-style-position: outside;
}

#story li {
  margin: 3px 0px;
  border-left: 3px solid rgba(255,159,79,0.8);
  background-color: rgba(255,159,79,0.5);
  text-align:left;;
}

#story li a {
  line-height: 35px;
  padding-left: 20px;
  color: #000;
}
